*
{
margin:0px;
padding:0px;
}
#conteiner
{
width: 100%;
}

#menu
{
padding-bottom:20px;
padding-top:20px;
background-image:url('menuback.png');

}

.red
{
display:inline;
}

.bez
{
font-size:22px;
color:#ffffbe;
text-decoration:none;
margin-left:180px;
background-image:url('btnback.png');
background-repeat:repeat-x;
}
.bez:hover
{
background: #0d2029;
}

#faq
{
clear:left;
padding-bottom:20px;
padding-top:20px;
background-color:#74C0CF;
font-size:20px;
}

#g
{
float:left;

}
#submenu
{
background-color:#F1F7E2;
background-image:url('p.jpg');
background-repeat:no-repeat;
padding-right:50px;
padding-left:20px;
padding-bottom:300px;
padding-top:300px;

}

#tochki
{
list-style:none;
font-size:18px;
}
.hip{text-decoration:none;}
#plo6t
{
float:right;
}

.head{font-size:22px;}
#bor,td{border-style:solid;}
.cheten{background-color:green;}
.necheten{background-color:gray;}
.kol{
background-color:red;
font-family:"Palatino Linotype";
}
#hed{
background-color:blue;
font-family:"Lucida Console";
}

#main{background-color:#F1F7E2}