*
{
margin:0px;
padding:0px;
}
#conteiner
{
width: 100%;
}

#menu
{
padding-bottom:20px;
padding-top:20px;
background-image:url('menuback.png');

}

.red
{
display:inline;
}

.bez
{
font-size:22px;
color:#ffffbe;
text-decoration:none;
margin-left:180px;
background-image:url('btnback.png');
background-repeat:repeat-x;
}
.bez:hover
{
background: #0d2029;
}

#faq
{
clear:left;
padding-bottom:20px;
padding-top:20px;
background-color:#74C0CF;
font-size:20px;
}

.head{font-size:22px;}
.doh
{
float:right;

}